.details {
  display: flex;
}
.title {
  flex-grow: 1;
  margin-top: 0;
}
.date {
  color: #999;
  font-style: italic;
  font-size: 16px;
}

.date + p {
  clear: both;
}

button {
  margin: 15px 10px 0 0;
}
